:root{
    --darkblue: hsl(240, 38%, 20%);
    --grayblue: hsl(240, 18%, 77%);
}



@font-face {
    font-family: Inter;
    src: url(fonts/Inter/static/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/static/Inter-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

body{
    font-family: Inter;
    font-size: 32px;
    margin: 0;
    height: 100vh;
    color: var(--darkblue);
}

.all{
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 2s ease;
}

.rectangle{
    margin: auto;
    display: flex;
    height: 600px;
    width: 1100px;
    align-items: center;
    position: relative;
}

.content{
    width: 650px;
    position: absolute;
    z-index: 1;
}

.image-person{
    position: absolute;
    right: 0;
    /* box-shadow: transparent -2px 10px 20px; */
}

.image-person img{
    box-shadow: -8px 13px 46px -17px rgb(136, 136, 136);

}

.fond-1{
    position: absolute;
    z-index: -1;
    top: 180px;
    left: 320px;
}

.fond-2{
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
}

.fond-3{
    position: absolute;
    z-index: -1;
    right: 120px;
    top: 40px;
}

.skip{
    position: absolute;
    display: flex;
    padding: 16px 0;
    box-shadow: 1px 9px 13px 6px gainsboro;
    border-radius: 30px;
    bottom: -15px;
    left: 60px;
    z-index: 2;
    background-color:white;
}

.skip img{
    padding: 0 20px;
    cursor: pointer;
}

.second-slide{
    visibility: hidden;
}

.info-person{
    display: flex;
}

.person{
    font-weight: bold;
    font-size: 20px;
}

.job{
    margin-left: 12px;
    font-size: 20px;
    color: var(--grayblue);
}

@media (max-width: 1000px) {
    body{
        font-size: 4.5vw;
    }
    
    .content{
        text-align: center;
        width: 80%;
    }

    .info-person{
        display: block;
    }

    .image-person{
        margin: auto;
        position: static;
        width: 65%;
        margin-top: 40px;
    }

    .image-person img{
        width: 100%;
    }

    .rectangle{
        height: auto;
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
    }
    
    .content{
        position: static;
        margin-top: 50px;
    }

    .skip{
        padding: 12px 0;
        left: 50%;
        bottom: auto;
        transform: translate(-50%, -50%);
    }

    #prev, #next{
        padding: 0 14px;
    }

    .fond-1{
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 189px;
        top: auto;
        width: 80px;
    }

    .fond-2{
        width: 100%;
    }

    .fond-3{
        width: 84%;
        left: 23px;
        top: 16px;
    }

    .image-person{
        margin: 40px auto;
    }

    .all{
        align-items: baseline;
    }

    .person{
        margin-bottom: 0;
    }

    .job{
        margin-top: 0;
    }
}
